h2.text-center Edit Profile
.row
  form#editProfile(role='form', method='post', action='/profile')
    input(type='hidden', name='_method', value='put')
    .col-xs-6
      .form-group
        label(for='username') Username
        input.form-control#username(type='text', name='username', value=user.username, autofocus=true)
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', value=user.email)
      .form-group
        label(for='phone') Phone
        input.form-control#phone(type='tel', name='phone', value=user.phone)
      .form-group
        label(for='location') Location
        input#lat(type='hidden', name='lat')
        input#lng(type='hidden', name='lng')
        input.form-control#location(type='text', name='location', value=(user.loc ? user.loc.name : 'Enter a city'))
      .form-group
        label(for='bio') Biography
        textarea.form-control#bio(name='bio')= user.bio
      .form-group
        label(for='lookingFor') Looking For: &nbsp
        select.form-control(name='lookingFor')
          option(selected=(user.lookingFor === 'Relationship' ? true : false)) Relationship
          option(selected=(user.lookingFor === 'Companionship' ? true : false)) Companionship
          option(selected=(user.lookingFor === 'No Strings Attached' ? true : false)) No Strings Attached
      .form-group
        label(for='weapon') Weapon of Choice: &nbsp
        select.form-control(name='weapon') Weapon of Choice
          option(selected=(user.weapon === 'Blade' ? true : false)) Blade
          option(selected=(user.weapon === 'Firearm' ? true : false)) Firearm
          option(selected=(user.weapon === 'Hand-to-Hand' ? true : false)) Hand-to-Hand
          option(selected=(user.weapon === 'Natural Elements' ? true : false)) Natural Elements
          option(selected=(user.weapon === 'Other' ? true : false)) Other
    .col-xs-6
      .form-group
        label(for='age') Age
        input.form-control#age(type='number', name='age', value=user.age)
      .form-group
        label(for='gender') Gender
        .radio
          label
            input(type='radio' name='gender' value='female' checked=(user.gender === 'female' ? true : false))
            span Female
        .radio
          label
            input(type='radio' name='gender' value='male', checked=(user.gender === 'male' ? true : false))
            span Male
      .form-group
        label(for='smoker') Smoking Preference
        .radio
          label
            input(type='radio' name='isSmoker' value='true', checked=user.isSmoker)
            span Smoker
        .radio
          label
            input(type='radio' name='isSmoker' value='false' checked=!user.isSmoker)
            span Non-Smoker
      .form-group
        label(for='criminal') Criminal Record
        .radio
          label
            input(type='radio' name='isRecord' value='true' checked=user.isRecord)
            span Yes
        .radio
          label
            input(type='radio' name='isRecord' value='false', checked=!user.isRecord)
            span No
      .form-group
        label(for='isPublic') Make Profile Searchable
        .radio
          label
            input(type='radio' name='isPublic' value='true' checked=user.isPublic)
            span Yes - Make Public
        .radio
          label
            input(type='radio' name='isPublic' value='false', checked=!user.isPublic)
            span No - Keep Private

      button.btn.btn-success(type='submit') Submit


