extends ../shared/template
block content
  .col-xs-5#userLocation(data-name=user.loc.name, data-lat=user.loc.lat, data-lng=user.loc.lng)
    #map
  .col-xs-7
    #searchbar
    form(method='get', action='/users' name='filter')
      .col-xs-2.search-btn
        .btn-group.btn-input.clearfix
          button.btn.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown')
            input(type='hidden', name='gender', value='')
            span(data-bind='label') Gender
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#', data-value='male') Male
            li
              a(href='#', data-value='female') Female
            li
              a(href='#') Other
      .col-xs-2.search-btn
        .btn-group.btn-input.clearfix
          button.btn.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown')
            input(type='hidden', name='isSmoker', value='')
            span(data-bind='label') Smoker
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#', data-value='false') NonSmoker
            li
              a(href='#', data-value='true') Smoker
      .col-xs-2.search-btn
        .btn-group.btn-input.clearfix
          button.btn.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown')
            input(type='hidden', name='isRecord', value='')
            span(data-bind='label') Record
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#', data-value='true') Criminal
            li
              a(href='#', data-value='false') Clean
      .col-xs-2.search-btn
        .btn-group.btn-input.clearfix
          button.btn.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown')
            input(type='hidden', name='weapon', value='')
            span(data-bind='label') Weapon
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#', data-value='blade') Blade
            li
              a(href='#', data-value='firearm') Firearm
            li
              a(href='#', data-value='hand-to-hand') Hand-to-Hand
            li
              a(href='#', data-value='natural elements') Natural Elements
            li
              a(href='#', data-value='other') Other
      .col-xs-2.search-btn
        .btn-group.btn-input.clearfix
          button.btn.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown')
            input(type='hidden', name='lookingFor', value='')
            span(data-bind='label') Seeking
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#', data-value='relationship') Relationship
            li
              a(href='#', data-value='companionship') Companionship
            li
              a(href='#', data-value='no strings attached') No Strings Attached
      .col-xs-2.search-btn
        button.btn.btn-default.form-control.btn-search(type='submit') Search
    #criteria
      h4 You searched for:

      if(query.gender)
        span= query.gender
      else

      if(query.isSmoker)
        span smoker
      else
        span= !query.isSmoker === '' ? 'nonsmoker' : ''

      if(query.isRecord)
        span criminal record
      else
        span= !query.isRecord === '' ? 'no record' : ''

      if(query.weapon)
        span= query.weapon
      else

      if(query.lookingFor)
        span= query.lookingFor
      else

      #clear.pull-right
        a.btn.btn-warning.btn-xs(href='/users') Clear
    #clients
      each client in clients
        .col-xs-4.clients: a(href='/users/'+client._id)
          .client-img.thumbnail(style='background-image:url(#{client.profilePic || "/img/anon.jpg"});')
          .caption
            .client-name.locationValue(data-name=client.loc.name, data-lat=client.loc.lat, data-lng=client.loc.lng)
              h2= client.username

block scripts
  script(src='/js/user/index.js')
