extends ../shared/template
block content
  .row
    .col-xs-2
    .col-xs-4.basic-info
      .profile-img(style='background-image:url("#{client.profilePic}");')
      .name= client.username
    .col-xs-4.bio
      .buttons.btn-group.btn-group-justified.interaction-btns
        .btn-group
          form(name='stalk', method='post', action='')
            button.btn.btn-danger.interactions.btn-md#stalk(type='button') Stalk
        .btn-group
          form(name='shank', method='post', action='')
            button.btn.btn-warning.interactions.btn-md#shank(type='button') Shank
        .btn-group
          form(name='bribe', method='post', action='')
            button.btn.btn-success.interactions.btn-md#bribe(type='button') Bribe
        .btn-group
          form(name='hookup', method='post', action='')
            button.btn.btn-info.interactions.btn-md#hookup(type='button') Hookup
      .panel.panel-default
        .panel-heading The Quick and Dirty
        ul.list-group
          li.list-group-item Seeking: &nbsp#{client.lookingFor}
          li.list-group-item Age: &nbsp#{client.age}
          li.list-group-item Gender: &nbsp#{client.gender}
          if(client.isSmoker)
            li.list-group-item Smoker: Yes
          else
            li.list-group-item Smoker: No
          if(client.isRecord)
            li.list-group-item Criminal Record: Yes
          else
            li.list-group-item Criminal Record: No
          li.list-group-item My Favorite Weapon is: &nbsp#{client.weapon}
      p Collection weekend sandwich grey gag hammer tank dead michelle vegan. 
        Steve jobs facepalm pizza crying russia father cookie monster.
    .col-xs-2
  .row
    .col-xs-2
    .col-xs-8.client-gallery
      include client-gallery
    .col-xs-2
block scripts
  script(src='/js/user/show.js')
